@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-image: radial-gradient(
    yellow 5%,
    orange 15%,
    rgb(255, 196, 0) 25%,
    rgb(208, 243, 255) 35%,
    rgb(192, 235, 248) 45%,
    rgb(126, 222, 252) 55%,
    rgb(113, 209, 238) 65%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  text-shadow: 10px 10px 19px #ffffff;
}
.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.center {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  z-index: 2;
}
button:hover {
  opacity: 90%;
  background-color: #ff9900;
  color: aliceblue;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
}
button {
  margin: 10px;
  background-color: #ffffffbd;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: larger;
}
.clouds {
  position: absolute;
  display: flex;
  align-items: right;
  justify-content: left;
  flex-wrap: wrap;
}

p {
  font-size: 1vw;
  text-shadow: 10px 10px 19px #ffffff;
}
a:hover {
  color: #ffffff;
}
a {
  font-weight: bold;
  color: rgb(236, 154, 0);
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 4vw;
}
.h1-butterflies1 {
  float: right;
  transform: scaleX(-1);
}
.h1-butterflies2 {
  float: left;
}

.h1-butterflies1,
.h1-butterflies2 {
  transform: scale(2); /* Equal to scaleX(0.7) scaleY(0.7) */
}
#project-list {
  background-color: #ffffff46;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 3px solid #a0a0a0;
  border-radius: 10px;
  width: 45%;
}
.certificate-list {
  list-style: none;
  float: center;
  padding: 1.5rem;
  text-align: center;
}
#project-list li{
  list-style:circle;

}
.webProjects li{
  list-style:none;

}
img {
  margin: auto;
  width: 200%;
}
#project-list:hover {
  color: #080808;
  box-shadow: 0 0 10px 10px #ff69c5;
  background: radial-gradient(
    at 0% 10%,
    rgba(157, 238, 252, 0.719) 10%,
    rgba(82, 230, 253, 0.719) 50%,
    #aef6ff9d 71%
  );
}
#project-list p{
  font-size: 1.2vw;

}
.webProjects {
  padding: 5%;
  z-index: 9;
  position: relative;
}
p {
  display: block;
  margin: 3%;
  left: 0px;
}

h2 {
  font-family: "Bubbler One", sans-serif;
}
